[submodule "VP_ANALYSIS/Zlib"]
	path = VP_ANALYSIS/Zlib
	url = https://github.com/madler/zlib.git
[submodule "VP_ANALYSIS/matplot"]
	path = VP_ANALYSIS/matplot
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "TestPlot/matplot"]
	path = TestPlot/matplot
	url = https://github.com/alandefreitas/matplotplusplus.git
