# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

# Created by https://www.toptal.com/developers/gitignore/api/cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=cmake

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
# Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/

# Created by https://www.toptal.com/developers/gitignore/api/vcpkg
# Edit at https://www.toptal.com/developers/gitignore?templates=vcpkg

### vcpkg ###
# Vcpkg

vcpkg-manifest-install.log

## Manifest Mode
vcpkg_installed/

# End of https://www.toptal.com/developers/gitignore/api/vcpkg

# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/g

# Created by https://www.toptal.com/developers/gitignore/api/ninja
# Edit at https://www.toptal.com/developers/gitignore?templates=ninja

### Ninja ###
.ninja_deps
.ninja_log

# End of https://www.toptal.com/developers/gitignore/api

VP_ANALYSIS/Zlib/*
!VP_ANALYSIS/Zlib/.gitmodules
!VP_ANALYSIS/Zlib/.git

VP_ANALYSIS/matplot/*
!VP_ANALYSIS/matplot/.gitmodules
!VP_ANALYSIS/matplot/.git

**/build/
**/.vscode
**/obj-intel64
**/*.log
**/traces/
**/pinballs/
**/pin-tool-log.txt
**/log/
**/*.vcxproj